# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
.pytest_cache/
.coverage
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Others
*.sqlite3

.ipynb/
test1/
